
#fields input{
	
	position:relative;
	margin-right:20px;
width:310px;
	
}
#fields select{
	
	position:relative;
	margin-right:20px;
width:310px;

	
}
input.error{
	min-width:200px;
	position:relative;
	margin-right:20px;
width:310px;
padding:0;
	
}
#selectMe{
		
min-width:50%;
width:50%;
	
}
.row{

}

#titleBar{



}

form{
	
	
}

label{
	
    display:inline-flex;
	width:200px;
    padding-right:10px;
	padding-bottom:20px;
}


input#submitButton{
margin-top:10px;
width:100px;
margin: 0 auto;
display:block;
  
   
}
#submitButton{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
	padding: 6px 12px;
	border: 1px solid #ccc;
    border-radius: 4px;   
}
.col-md-12{
	width:100%;
}
fieldset{
	width:100%;
	min-width:80%;
	margin:auto;
	text-align:center;
	max-width:570px;

}
.center{
	margin:auto;
	width:30%;
	
}
.error {
  color: #ff0000;
  width:450px;
  padding-left:150px;
  font-weight:bold;
}


label.error{
	min-width:250px;
	width:250px;
    margin-left:5px;
	padding:0;
   display:inline-block!important;
   position:absolute;
   

}
label.error{
	min-width:250px;
	width:250px;
    
   

}


@media screen and (max-width:750px){
	label.error{
	padding-bottom:30px;
	text-align:center;
	position:static;
	}
	label{
	width:110px;
	margin-left:0;
 
	}
	label.radioButton{
	
width:210px;
	}

	}
h1{
	text-align:center;
	padding-bottom:40px;
	
}

option{
	display:inline-flex;
	width:200px;
    padding-right:10px;
	padding-bottom:15px;
}
select{
	margin-bottom:20px;
}
