
#fields input{
	min-width:200px;
	position:relative;
	margin-right:20px;
width:310px;
	
}
#fields select{
	min-width:200px;
	position:relative;
	margin-right:20px;
width:310px;

	
}
input.error{
	min-width:200px;
	position:relative;
	margin-right:20px;
width:310px;
padding:0;
	
}
#selectMe{
		
min-width:50%;
width:50%;
	
}
.row{

}

#titleBar{



}
#titleBar h1{
	font-size:50px;
}
label{
	
    display:inline-flex;
	width:200px;
    padding-right:10px;
	padding-bottom:15px;
}


input#submitButton{
margin-top:10px;
width:100px;
margin: 0 auto;
display:block;
   
   
}

.col-md-12{
	width:100%;
}
fieldset{
	width:100%;
	min-width:80%;
	margin:auto;
	text-align:center;
}
.center{
	margin:auto;
	width:30%;
	
}
.error {
  color: #ff0000;
  width:450px;
  padding-left:150px;
}


label.error{
	min-width:250px;
	width:250px;
    margin-left:5px;
	padding:0;
   display:inline-block;
   position:absolute;

}
@media screen and (max-width:1000px){
	label.error{
	position:static;
	padding-left:90px;
	display:inline-flex;
	width:350px;
	margin-bottom:20px;
	}
}

h1{
	text-align:center;
	padding-bottom:40px;
	
}

option{
	display:inline-flex;
	width:200px;
    padding-right:10px;
	padding-bottom:15px;
}
select{
	
	
}
