/* dark blue: #667299
	light blue: #e6f2ff
 */


html{
	height:100%;
	
/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #8C9CD1 0%, #667299 100%);
	
}
body{ 
background-color:transparent!important;


 } 
 
 hr {
	 border-top: 1px solid black;
	 border-style: inset;
 }
 
 input[type="text"], input[type="password"], textarea {

  background-color : white; 
}
 
#Sign-In{ 	
		margin:0 auto; 

		margin-top:5em; 
		border:1px solid #a1a1a1; 
		border: none;
		padding: 1em; 
		background-color: white;
		
		width:500px; 
		border-radius:5px; 
		box-shadow: 2px 6px 7px;
		height:auto; 
	
		
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,1+45,0.7+76,0+100 */


		
		font-size:20px; } 
		
p{		
		font-size: .75em;
		margin: 2em;	
		font-family: Tahoma, Geneva, sans-serif;
			}
			
#header{
		font-size: 2em;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
			}
			
			
input{	
		margin: 2em;
		background-color: #f2f2f2;
			}
			
#button{ 	
		
		font-family: Tahoma, Geneva, sans-serif;
		border-style: none;
		padding: .25em 1em;
		border-radius: .75em; 
		background: #e6f9ff;	
		font-size: 1em }

