
/* dark blue: #667299
	light blue: #e6f2ff
 */


html,body,h1,h2,h3,h4,h5,h6, .button {font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Tahoma, Arial, sans-serif;}
html, body{
	height:100%;
	
	
}
html{
	
  display: flex;
  flex-direction: column;
}
body{
	min-height: 100%;
	margin-bottom:-142px;
}
.button {
	padding: .5em;
	margin: 1em;
	border: hidden;
	background-color: #e6f2f;
}

.avatar {
	margin: 1em;
}

col-md-12{
	min-height:100px;
	
}

#logo {
	width: 300px;
	margin: 0 auto;
}

input[type=text]:focus {
    background-color: #e6f2f;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

thead tr th{
	background-color: #e6f2ff;
}
#nav #nav-right {
	float: right;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: .01em;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 0;
    width: 100%;
}

#nav li {
    float: left; 
}




#nav li a {
   
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  
}

#nav li.active a {
    background-color: #667299;
}

#nav li a:hover:not(.active) {
    background-color: #111;

}

footer {
   
	margin-bottom: 0px;
	
}


.content {
	margin-top: 4em;
	flex:1;
	height:90%;

}


.fa.fa-plus-circle{
	font-size:40px;
	padding-right:20px;
}
.fa.fa-trash{
	font-size:40px;
	
}
a{
	display:hidden;
}
.scheme-text {color: #e6f2ff}

.colorscheme {color: black;background-color:#e6f2ff}

.w3-display-container{position:relative}

