
/* dark blue: #667299
	light blue: #e6f2ff
 */


html,body,h1,h2,h3,h4,h5,h6, .button {font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Tahoma, Arial, sans-serif;}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.content {
  margin: 0 auto;
  
  max-width: 640px;
  width: 94%;
  padding-bottom:6rem;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:#e6f2ff;
  text-align: center;
 margin-top:2rem;
}

.avatar {
	margin: 1em;
}

col-md-12{
	min-height:100px;
	
}

#logo {
	width: 300px;
	margin: 0 auto;
}

input[type=text]:focus {
    background-color: #e6f2f;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

thead tr th{
	background-color: #e6f2ff;
}
#nav #nav-right {
	float: right;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: .01em;
    overflow: hidden;
    background-color: #333!important;
    position: absolute;
    top: 0;
    width: 100%;
	display: table;
}

#nav li {
    float: left; 
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #333!important;
}
button.navbar-toggle{
	
}
.navbar-default .navbar-toggle {
    border-color: none;
}
div#nav{
	background-color:#333;
}
div#navbar{
	background-color:#333;
}
.navbar-default .navbar-nav>li>a {
    color: white!important;
	text-align:middle;
}
#nav li a {
   
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  
}

#nav li.active a {
    background-color: #667299;
}

#nav li a:hover:not(.active) {
    background-color: #111;

}
.navbar-default .navbar-toggle {
    border-color: #333!important; 
}
li#log {
	float:right!important;
	color:white;
	padding-right:20px;
	vertical-align: middle;
	display: inline-block;
	padding-top:14.5px;
}
@media screen and (max-width:613px){
	li#log {
	padding-right:3px;
	
	
}
	
	
	
}

.fa.fa-plus-circle{
	font-size:40px;
	padding-right:20px;
}
.fa.fa-trash{
	font-size:40px;
	
}
a{
	display:hidden;
}
.scheme-text {color: #e6f2ff}

.colorscheme {color: black;background-color:#e6f2ff}

.w3-display-container{position:relative}

