html{
	height:100%;
	
}

	body {
  
background-image: linear-gradient(to bottom, #880000 0%, #1C1C1C 100%);
background-repeat:no-repeat;
background-attachment:fixed;
height:100%;
padding-top:50px;
padding-left: 80px;
padding-right: 80px;


}

 img { 
    -webkit-filter: drop-shadow(10px 10px 5px black);
	filter:         drop-shadow(10px 10px 5px black); 
}

h1, p{
	font-family: MerriweatherReg, sans-serif !important;
	text-align:center;
	color: white!important;
	font-size:36px;
    text-shadow: 3px 2px 4px #000000;
}

h1{
	color: #FFD700 ;
}


@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  
	animation:fadeIn ease-in 1;
	animation-fill-mode:forwards;
	animation-delay: 0.3s;
	animation-duration:1s;
	
}
 


header{
	background-color:white;
}


hr {
    margin-top: 5px !important;
    margin-bottom: 6px!important;
    border: 0!important;
    border-top: 1px solid #FFD700!important;
}
#border.col-md-4{
	
margin-top: 75px;
}

.button {
  background-color: #White;
  color: #800000;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  border: none;
  font-size: 28px;
	min-width:50px;
  max-width: 250px;
   width: 100%;
  transition: all 0.7s;
  padding: 22px;
  margin: 5px;
}
.button:hover{
	background-color: #FFD700;
	box-shadow: 6px 7px 5px   #000000;
	
}

@font-face { font-family: MerriweatherReg; src: url('../fonts/Merriweather-Regular.ttf'); } 
