<!DOCTYPE html>
<html lang="en">
			<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
				<meta name="description" content="">
				<meta name="author" content="">
				<link rel="icon" href="../../favicon.ico">

			<title></title>

								<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"> 
									<link  rel="stylesheet"href="../static/css/inputformtemplate.css">
										<link rel="stylesheet" href="../static/css/font-awesome.css">
											<link  rel="stylesheet"href="../static/css/social-buttons.css">

			</head>

											<body>


												<div id="wrapper">


													<div id="sidebar">
														<ul>
															<li id="Logo"><img src="http://placehold.it/119x121"></li>

																<li><a href=""><i class="fa fa-table" aria-hidden="true"></i><p>Inventory</p></a></li>

																<li><a href=""><i class="fa fa-user" aria-hidden="true"></i><p>My account</p></a></li>

																<li><a href=""><i class="fa fa-calendar" aria-hidden="true"></i><p>Calendar</p></a></li>

																<li><a href=""><i class="fa fa-users" aria-hidden="true"></i><p>Users</p></a></li>
																<li></li>
																<li><a href=""><i class="fa fa-power-off" aria-hidden="true"></i><p>Logout
																		</p></a></li>

															</ul>
														</div>
														<div id="content">
<div class="container-fluid" >
																<div  class="row">
																	<div id="titleBar" class="col-md-12">
																		<h1>Delete Device</h1>
																			</div>
																		</div>
																	</div>
																	<div class="center" id="inputFields">
																		<div class="container-fluid" style="padding-top:45px">
																			<div  class="row">
																				<div class="col-md-12">

																					<form name="deletetask" method="POST">
																						<fieldset>
																							
																							<p>Choose a Device to be deleted.</p><br>
																							
																							<label>Device ID</label> <input type="text"  name="deviceID"><br>
																							
																							
																							
																							
																								
																							<center><input type="submit" value="Submit"></center>	
																								
																								
																							

																						</fieldset>
																					</form>
																					
																					</div>
																				</div>
																				
																						
																					</div>
																				</div>
																			

																		

											

														
																
																		</div>
																	</div>


			

<script type="text/javascript" src="../static/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="../static/js/formvalidation.js"></script>

											</body>


</html>																																			