<!DOCTYPE html>

<!-- MY ACCOUNT PAGE -->
<!-- COLOR NOT FINAL -->

<!-- HTML START -->
<html>

<!-- PAGE TITLE -->
<title>Delete Device</title>

<!-- META DATA -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- STYLE SHEETS -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/pageTemplate.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/hover.css">
<link rel="stylesheet" href="../static/css/font-awesome.css">
<link rel="stylesheet" href="../static/css/inputformtemplate.css">

<link rel="icon" href="../static/images/favicon.ico">
<!-- BODY START -->
<body class="w3-light-grey">

<!-- NAVIGATION -->
<nav class="navbar navbar-default">
  <div id="nav" class="navbar-header">
    <a class="navbar-brand" href="inventory"><img  class="Logo"src="../static/images/LOGO.png" /></a>
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a class="hvr-underline-from-center"  href="inventory">Home</a></li>
      <li><a class="hvr-underline-from-center"  href="myAccountPage">My Account</a></li>
      <li><a class="hvr-underline-from-center"  href="calendar">Calendar</a></li>
      <li><a class="hvr-underline-from-center"   href="userPage">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
		<li id="log">Logged In: {{ uName }}</li>
      <li><a class="hvr-underline-from-center" href="logout">Log Out</a></li>
    </ul>
  </div>
  <!--/.nav-collapse --> 
  
</nav>

<!-- Page Container -->
<div class="w3-content content" style="max-width:1400px;">
  <div class="row" >
    <div id="titleBar" class="col-md-12">
<h1>Delete Device</h1>

</div>


    <form name="deleteDevice" method="POST">
      <fieldset id="fields">
	    <p>Choose a Device to be deleted.</p>
        <br>
        <label>Device Name</label>
        <select name="SerialNumber" value="">
          
{% for k in device %}

          <option style="text-align:center" value="{{ device[k] }}">{{ device[k] }}</option>
          
{% endfor %}

        </select>
        <br>
        
        <!---<label>Device ID</label> 
<input type="text"  name="deviceID"><br>
--->
        
        </select>
      </fieldset>
      <input type="submit" value="Submit" id="submitButton">
    </form>
  </div>
</div>

<!-- End Page Container -->
</div>

<!-- FOOTER -->
<div class="footer">
  <p>Follow MerCuryo on social media.</p>
  <i class="fa fa-facebook-official w3-hover-text-indigo w3-large"></i> <i class="fa fa-instagram w3-hover-text-purple w3-large"></i> <i class="fa fa-snapchat w3-hover-text-yellow w3-large"></i> <i class="fa fa-pinterest-p w3-hover-text-red w3-large"></i> <i class="fa fa-twitter w3-hover-text-light-blue w3-large"></i> <i class="fa fa-linkedin w3-hover-text-indigo w3-large"></i>
  <p>&copy; MerCuryo 2017</p>
</div>
<!-- BODY END -->
</body>
<!-- HTML END -->
</html>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/formvalidation.js"></script>
<script type="text/javascript" src="../static/js/jquery.validate.min.js"></script>


</body>
</html>