<!DOCTYPE html>
<script type="text/javascript"
  src="../static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_edit_device', {
		DeviceName: $('input[name="DeviceName"]').val(),
        Description: $('input[name="Description"]').val(),
		DeviceCategory: $('select[name="DeviceCategory"]').val(),
		deviceStatus: $('select[name="deviceStatus"]').val(),
		DeviceLocation: $('input[name="DeviceLocation"]').val(),
		DeviceOwner: $('input[name="DeviceOwner"]').val(),
		DateOfDeployment: $('input[name="DateOfDeployment"]').val(),
		GoBackDate: $('input[name="GoBackDate"]').val(),
		IPAddress: $('input[name="IPAddress"]').val(),
		SerialNumber: $('input[name="SerialNumber"]').val(),
		id: $('select[name="ID"]').val()
      }, function(data) {
        $('#result').text(data.result);
        $('input[name=DeviceName]').focus().select();
      });
      return false;
    };
    $('a#addValues').bind('click', submit_form);
    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
    $('input[name=DeviceName]').focus();
	
  });
</script>
<!-- MY ACCOUNT PAGE -->
<!-- COLOR NOT FINAL -->

<!-- HTML START -->
<html>

<!-- PAGE TITLE -->
<title>Edit Device</title>

<!-- META DATA -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- STYLE SHEETS -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/pageTemplate.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/hover.css">
<link rel="stylesheet" href="../static/css/font-awesome.css">
<link rel="stylesheet" href="../static/css/inputformtemplate.css">
<!-- BODY START -->
<body class="w3-light-grey">

<!-- NAVIGATION -->
<nav class="navbar navbar-default">
  <div id="nav" class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a class="hvr-underline-from-center"  href="inventory">Home</a></li>
      <li><a class="hvr-underline-from-center"  href="myAccountPage">My Account</a></li>
      <li><a class="hvr-underline-from-center"  href="calendar">Calendar</a></li>
      <li><a class="hvr-underline-from-center"   href="userPage">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
		<li id="log">Logged In: {{ uName }}</li>
      <li><a class="hvr-underline-from-center" href="logout">Log Out</a></li>
    </ul>
  </div>
  <!--/.nav-collapse --> 
  
</nav>

<!-- Page Container -->

<div class="w3-content content" style="max-width:1400px;">
  <div class="row" >
    <div class="col-md-12">
      <div id="titleBar" class="col-md-12">
        <h1>Edit Device</h1>
      </div>
      <form>
        <fieldset id="fields">
		  <label>Device ID</label> 
		  <select name="ID" value="">
		  <option style="text-align:center" value="{{ dev["data"][10] }}">{{ dev["data"][10] }}</option>
		  </select><br>
          <label>{{ labels["def"][0] }}</label>
          <input type="text" name="DeviceName" value="{{ dev["data"][0] }}">
          <br>
          <label>{{ labels["def"][1] }}</label>
          <input type="text" name="Description" value="{{ dev["data"][1] }}">
          <br>
          <label>{{ labels["def"][2] }}</label>
          <select name="DeviceCategory" value="">
            
		{% for k in cat %}
		
            <option style="text-align:center" value="{{ cat[k][0] }}">{{ cat[k][0] }}</option>
            
		{% endfor %}
		
          </select>
          <br>
          
          <!---<input type="text" name="DeviceCategory" value="{{ dev["data"][2] }}"><br>
		--->
          <label>{{ labels["def"][3] }}</label>
          </label>
          <select name="deviceStatus" value="">
            
		{% for k in dStatusL %}
		
            <option style="text-align:center" value="{{ dStatusL[k][0] }}">{{ dStatusL[k][0] }}</option>
            
		{% endfor %}
		
          </select>
          <br>
          <label>{{ labels["def"][4] }}</label>
          <input type="text" name="DeviceLocation" value="{{ dev["data"][4] }}">
          <br>
          <label>{{ labels["def"][5] }}</label>
          <input type="text" name="DeviceOwner" value="{{ dev["data"][5] }}">
          <br>
          <label>{{ labels["def"][6] }}</label>
          <input type="text" name="DateOfDeployment" value="{{ dev["data"][6] }}">
          <br>
          <label>{{ labels["def"][7] }}</label>
          <input type="text" name="GoBackDate" value="{{ dev["data"][7] }}">
          <br>
          <label>{{ labels["def"][8] }}</label>
          <input type="text" name="IPAddress" value="{{ dev["data"][8] }}">
          <br>
          <label>{{ labels["def"][9] }}</label>
          <input type="text" name="SerialNumber" value="{{ dev["data"][9] }}">
          <br>
		  <p id="result"></p><br>
        </fieldset>
        <center><a href=# id="addValues" ><input type="submit" value="Submit"></a></center>
      </form>
    </div>
  </div>
  
  <!-- End Page Container --> 
  
  <!-- FOOTER -->
  <div class="footer">
    <p>Follow MerCuryo on social media.</p>
    <i class="fa fa-facebook-official w3-hover-text-indigo w3-large"></i> <i class="fa fa-instagram w3-hover-text-purple w3-large"></i> <i class="fa fa-snapchat w3-hover-text-yellow w3-large"></i> <i class="fa fa-pinterest-p w3-hover-text-red w3-large"></i> <i class="fa fa-twitter w3-hover-text-light-blue w3-large"></i> <i class="fa fa-linkedin w3-hover-text-indigo w3-large"></i>
    <p>&copy; MerCuryo 2017</p>
  </div>
  <!-- BODY END --> 
</div>
</body>
<!-- HTML END -->
</html>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/formvalidation.js"></script>
<script type="text/javascript" src="../static/js/jquery.validate.min.js"></script>


</body>
</html>