<html>
<title>Task Information</title>
<body>

<div class="container">
      <h1>Task {{ task[0][0] }}</h1>
      <br>
      <form action="" method="post">
        {{ task["def"][0] }}<input type="text" placeholder="{{ task[0][0]}}" name="taskID" value="{{
          request.form.taskID }}"><br>
        {{ task["def"][1] }}<input type="text" placeholder="{{ task[0][1] }}" name="dateStart" value="{{
          request.form.dateStart }}"><br>
        {{ task["def"][2] }}<input type="text" placeholder="{{ task[0][2] }}" name="dateComplete" value="{{
          request.form.dateComplete }}"><br>
        {{ task["def"][3] }}<input type="text" placeholder="{{ task[0][3] }}" name="taskStatus" value="{{
          request.form.taskStatus }}"><br>
        {{ task["def"][4] }}<input type="text" placeholder="{{ task[0][4] }}" name="taskType" value="{{
          request.form.taskType }}"><br>
        <input class="btn btn-default" type="submit" value="Submit">
      </form>


</body>
<html>





