<!DOCTYPE html>
<link rel="shortcut icon" href="images/favicon.ico" />
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<title>Capstone2017</title>
<link rel="stylesheet" type="text/css" href="css/PageCss.css">
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="row">
<div class="col-md-12">
<div>
<div>
  <div id="top" class="container top"style="padding-bottom:40px">
    <div class="row">
      <div id="border" class="col-md-4">
        <hr>
        <hr>
      </div>
      <div class="col-md-4">
        <center>
        <img src="images/BloomfieldBear.png">
        <center>
        <h1>Computer Science</h1>
        <h1>
        Capstone 2017
        <h1>
      </div>
      <div id="border" class="col-md-4">
        <hr>
        <hr>
      </div>
    </div>
  </div>
  <div class="container fade-in" style="padding-top:40px;" >
    <div class="row">
      <div class="col-md-6">
        <center>
          <a href="https://app.asana.com/">
          <button class="button"><span>Asana </span></button>
          </a>
        </center>
      </div>
      <div class="col-md-6">
        <center>
          <a href="https://capstone2017.mooo.com/mediawiki/">
          <button class="button"><span>MediaWiki </span></button>
          </a>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <center>
          <a href="https://capstone2017.mooo.com/login">
          <button class="button"><span>MerCuryo</span></button>
          </a>
        </center>
      </div>
      <div class="col-md-6">
        <center>
          <a href="https://capstone2017.mooo.com/bugzilla">
          <button class="button"><span>Bugzilla</span></button>
          </a>
        </center>
      </div>
    </div>
  </div>
</div>

<!-- ================================================== --> 

<script type="text/javascript" src="../static/js/jquery.js"></script> 
<script type="text/javascript"src="../static/js/bootstrap.min.js"></script>
</body>
</html>