<html>
<title>Main Table Employee</title>
<body>

<table>
  <tr>
    <th>{{ emp["def"][0] }}</th>
    <th>{{ emp["def"][1] }}</th>
    <th>{{ emp["def"][2] }}</th>
    <th>{{ emp["def"][3] }}</th>
    <th>{{ emp["def"][4] }}</th>

  </tr>
  {% for k in emp %}
     <tr>
        <td><a href=generic?id="{{ emp[k][0] }}">{{ emp[k][0] }}</a></td>
        <td>{{ emp[k][1] }}</td>
        <td>{{ emp[k][2] }}</td>
        <td>{{ emp[k][3] }}</td>
        <td>{{ emp[k][4] }}</td>
     </tr>
  {% endfor %}
</table>

</body>
</html>

