<!DOCTYPE html>

<!-- MY ACCOUNT PAGE -->
<!-- COLOR NOT FINAL -->

<html>
<title>My Account</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- STYLE SHEETS -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/pageTemplate.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/hover.css">
<link rel="stylesheet" href="../static/css/font-awesome.css">
<link  rel="stylesheet"href="../static/css/jquery.dataTables.css">
<link  rel="stylesheet"href="../static/css/dataTables.bootstrap.min.css">
<link rel="icon" href="../static/images/favicon.ico">

<body class="w3-light-grey">

<!-- NAVIGATION -->
<nav class="navbar navbar-default">
  <div id="nav" class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a class="hvr-underline-from-center"  href="inventory">Home</a></li>
      <li><a class="hvr-underline-from-center"  href="myAccountPage">My Account</a></li>
      <li><a class="hvr-underline-from-center"  href="calendar">Calendar</a></li>
      <li><a class="hvr-underline-from-center"   href="userPage">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
		<li id="log">Logged In: {{ uName }}</li>
      <li><a class="hvr-underline-from-center" href="logout">Log Out</a></li>
    </ul>
  </div>
  <!--/.nav-collapse --> 
  
</nav>

<!-- Page Container -->
<div class="w3-content content" style="max-width:1400px;"> 
  
  <!-- The Grid -->
  <div class="w3-row-padding"> 
    
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container" align="center"> 
          
          <!-- EDIT ACCOUNT AND CHANGE PASSWORD BUTTONS -->
          
          <a href="editPassword">
          <button class="button" style="margin-top:20px;">Change Password</button>
          </a> 
	    {% if pChange %}
		{{ pChange }}
		{% endif %}
          
          <!-- EMPLOYEE ID PHOTO --> 
          
		  <img class="img-responsive" id="accountImage" src="../static/images/user-icon.png" style="max-width: 275px; padding:20px; width:100%;" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black"></div>
          
          <!-- EMPLOYEE NAME -->
          <h2>{{ account['eName'] }}</h2>
        </div>
        <div class="w3-container"> 
          
          <!-- EMPLOYEE JOB TITLE -->
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i>{{ account['role'] }}</p>
          <!-- EMPLOYEE LOCATION OF EMPLOYMENT -->
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large"></i>{{ account['address'] }}</p>
          <!-- EMPLOYEE PRIMARY E-MAIL -->
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i>{{ account['email'] }}</p>
          <!-- EMPLOYEE PRIMARY PHONE NUMBER -->
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large"></i>{{ account['phone'] }}</p>
          <hr>
          <br>
        </div>
      </div>
      <br>
      
      <!-- End Left Column --> 
    </div>
    
    <!-- Right Column -->
    <div class="w3-twothird" > 
      
      <!-- CURRENT PROJECTS -->
      
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <table align="center" style="margin-top: 1em; margin-bottom: 1em;">
          <thead>
            <tr>
              <th colspan="3"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Current Projects & Tasks</th>
            </tr>
            <tr>
              <th>Due Date</th>
              <th>Task Name</th>
              <th>Task Description</th>
            </tr>
          </thead>
          <tbody>
          
          {% for k in active %}
          <tr>
            <td><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ active[k][2] }}</h6></td>
            <td><p>Task Name: {{ active[k][0] }}</p></td>
            <td><p>Description: {{ active[k][1] }}</p></td>
          </tr>
          {% endfor %}
            </tbody>
          
        </table>
      </div>
      
      <!-- COMPLETED PROJECTS -->
      <div class="w3-container w3-card-2 w3-white">
        <table align="center" style="margin-top: 1em; margin-bottom: 1em;">
          <thead>
            <tr>
              <th colspan="3"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Completed Projects & Tasks</th>
            </tr>
            <tr>
              <th>Completion Date</th>
              <th>Task Name</th>
              <th>Task Description</th>
            </tr>
          </thead>
          <tbody>
          
          {% for k in deactive %}
          <tr>
            <td><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ deactive[k][2] }}</h6></td>
            <td><p>Task Name: {{ deactive[k][0] }}</p></td>
            <td><p>Description: {{ deactive[k][1] }}</p></td>
          </tr>
          {% endfor %}
            </tbody>
          
        </table>
      </div>
      
      <!-- End Right Column --> 
    </div>
    
    <!-- End Grid --> 
  </div>
  
  <!-- End Page Container --> 
</div>
<div class="footer">
  <p>Follow MerCuryo on social media.</p>
  <i class="fa fa-facebook-official w3-hover-text-indigo w3-large"></i> <i class="fa fa-instagram w3-hover-text-purple w3-large"></i> <i class="fa fa-snapchat w3-hover-text-yellow w3-large"></i> <i class="fa fa-pinterest-p w3-hover-text-red w3-large"></i> <i class="fa fa-twitter w3-hover-text-light-blue w3-large"></i> <i class="fa fa-linkedin w3-hover-text-indigo w3-large"></i>
  <p>&copy; MerCuryo 2017</p>
</div>

</body>
</html>
