<!DOCTYPE html>

<!-- MY ACCOUNT PAGE -->
<!-- COLOR NOT FINAL -->

<<!-- HTML START -->
<html>

	<!-- PAGE TITLE -->
	<title>Template</title>

	<!-- META DATA -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- STYLE SHEETS -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/pageTemplate.css">
	<link rel="icon" href="../static/images/favicon.ico">
	
	<!-- BODY START -->
	<body class="w3-light-grey">

		<!-- NAVIGATION -->
		<ul>
			<!-- Add: class="active" to active tab -->
			<li><a href="/">Home</a></li>
			<li><a href="#myaccount">My Account</a></li>
			<li><a href="#about">Calendar</a></li>
			<li><a href="#contact">Contact</a></li>
			<li id="nav-right"><a href="#logout">Log Out</a></li>
		</ul>


		<!-- Page Container -->
		<div class="w3-content content" style="max-width:1400px; margin:0 auto;" >

		
	  
		<!-- End Page Container -->
		</div>


		<!-- FOOTER -->
		<footer class="w3-container colorscheme w3-center w3-margin-top">
			<p>Follow MerCuryo on social media.</p>
			<i class="fa fa-facebook-official w3-hover-text-indigo w3-large"></i>
			<i class="fa fa-instagram w3-hover-text-purple w3-large"></i>
			<i class="fa fa-snapchat w3-hover-text-yellow w3-large"></i>
			<i class="fa fa-pinterest-p w3-hover-text-red w3-large"></i>
			<i class="fa fa-twitter w3-hover-text-light-blue w3-large"></i>
			<i class="fa fa-linkedin w3-hover-text-indigo w3-large"></i>
			<p>&copy; MerCuryo 2017</p>
		</footer>
	<!-- BODY END -->
	</body>
<!-- HTML END -->
</html>

<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../static/js/dataTables.bootstrap.min.js"/></script>

<script>	
	$('#Table').dataTable();
</script>
