<!DOCTYPE html>

<!-- MY ACCOUNT PAGE -->
<!-- COLOR NOT FINAL -->

<<!-- HTML START -->
<html>



	<!-- PAGE TITLE -->
	<title>Administrator</title>

	<!-- META DATA -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- STYLE SHEETS -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/pageTemplate.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/dataTables.bootstrap.min.css">  
	<link rel="stylesheet" type="text/css" href="../static/css/hover.css"> 
	<link rel="stylesheet" href="../static/css/font-awesome.css">

	<link  rel="stylesheet"href="../static/css/jquery.dataTables.css">
	<link  rel="stylesheet"href="../static/css/dataTables.bootstrap.min.css">
	
	<link rel="icon" href="../static/images/favicon.ico">
	
	<!-- BODY START -->
	<body class="w3-light-grey">

		<!-- NAVIGATION -->
		<div id="nav">
			<ul id="navbar">
				<!-- Add: class="active" to active tab -->
				<li><a class="hvr-underline-from-center"  href="inventory">Home</a></li>
				<li><a class="hvr-underline-from-center"  href="myAccountPage">My Account</a></li>
				<li><a class="hvr-underline-from-center"  href="calendar">Calendar</a></li>
				<li class="active"><a class="hvr-underline-from-center"   href="userPage">Admin</a></li>
				<li id="nav-right"><a class="hvr-underline-from-center" href="logout">Log Out</a></li>
			</ul>
		</div>

	

		<!-- Page Container -->
		<div class="w3-content content" style="max-width:1400px; margin:0 auto; margin-top:4em;">
		
		<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!BUTTONS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
		<div align="center" style="margin:1em;">
					<a  href="userTable"><button>User Table</button></a>
					<a  href="deviceStatusTable"><button>Device Status Table</button></a>
					<a  href="employeeTable"><button>Employee Table</button></a>
					<a  href="taskTable"><button>Task Table</button></a>
					<a  href="taskTypeTable"><button>Task Type Table</button></a>
		</div>
		
		
			<table align="center">
		<thead>
			 <tr>
				<th rowspan="2">Users</th>
				<th colspan="3" id="center">Privelages</th>
			</tr>
			<tr>
				<th class="nosorting">Read</th>
				<th>Write</th>
				<th>Modify</th>
			</tr>
			</thead>
			
		<tbody>
			<tr>
				<td>William Colucci</td>
				
				<td>
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
				</td>
					
				<td>
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
				</td>
					
				<td>
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
				</td>
			</tr>
			
			<tr>
				<td>Amin Brantley</td>
				
				<td>
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
				</td>
					
				<td>
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
				</td>
					
				<td>
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
				</td>
			</tr>
			
			<tr>
				<td>Aaron Petersen</td>
				
				<td>
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
				</td>
					
				<td>
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
				</td>
					
				<td>
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
				</td>
			</tr>
		</tbody>
</table>


	  
		<!-- End Page Container -->
		</div>


		<!-- FOOTER -->
		<footer class="w3-container colorscheme w3-center w3-margin-top">
			<p>Follow MerCuryo on social media.</p>
			<i class="fa fa-facebook-official w3-hover-text-indigo w3-large"></i>
			<i class="fa fa-instagram w3-hover-text-purple w3-large"></i>
			<i class="fa fa-snapchat w3-hover-text-yellow w3-large"></i>
			<i class="fa fa-pinterest-p w3-hover-text-red w3-large"></i>
			<i class="fa fa-twitter w3-hover-text-light-blue w3-large"></i>
			<i class="fa fa-linkedin w3-hover-text-indigo w3-large"></i>
			<p>&copy; MerCuryo 2017</p>
		</footer>
	<!-- BODY END -->
	</body>
<!-- HTML END -->
</html>

<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../static/js/dataTables.bootstrap.min.js"/></script>

<script>	
	$('#Table').dataTable();
</script>
